
@{
    ViewBag.Title = "GetUsers";
}

<h2>List of Users</h2>
@foreach (var user in Model)
{
    <p>
        @user.UserName |
        @*@Html.ActionLink("Edit", "UpdateUser", new { Id = user.Id }) |
        @Html.ActionLink("Delete", "DeleteUser", new { Id = user.Id })*@
    </p>
}
@Html.ActionLink("Add User", "Register", new { Controller = "Account" })
